<div id="question-submission-form">
  <form class="question-submission" action= "/questions" method="post">
    <input type="text" placeholder="What is your question?" name="question[title]">
    <textarea name="question[description]"></textarea>
    <input type="submit" value="Ask Your Question">
  </form>
</div>
