<div class='comment'>

  <table>
    <tr>
      <td class="vote-comment-column">
        <%= erb :'partial/_vote', locals: {post: comment} %>
      </td>
      <td class="comment-cell">
        <div class="comment_text"><%=comment.description%></div>
        <a href="/users/<%=comment.user.id%>"><%= comment.user.username %></a>
      </td>
    </tr>
  </table>

</div>
