
<div id='navbar'>
  <span>
    <a href='/'>Home</a>
     <% if logged_in? %>
       <a href="/users/<%=current_user_id.id%>">Profile</a>
       <a href="/users/logout">Logout</a>
     <%else%>
       <a href="/users/login">Login</a>
       <a href="/users/signup">Register</a>
     <%end%>
  </span>
</div>
